.movieContainer {
  max-width: 1600px;
  margin: auto;
}

.movieGrid {
  background-color: #1e212a;
  padding-top: 50px;
}

.grid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.card {
  cursor: pointer;
}

.movieContainer h1 {
  color: #00acc2;
}
